<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal Payments</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div style="background-color: #db6666; display: flex; justify-content: center; align-items: center; flex-direction: column; border-radius: 15px; " >
        <img style="width: 200px; height: 200px;"  src="https://media.istockphoto.com/id/1410740636/photo/close-up-of-easy-payment-by-credit-card-or-smartphone-application-greenhouse-workers-selling.jpg?b=1&s=612x612&w=0&k=20&c=P-D0UrqE2Ntzs-gZUbS2D3FO-wBaEB_iKYcTZRwPisg=" />
        <h1 class="h1tag">Time</h1>
        <h2>Buy For $75</h2>
        <form action="/pay" method="post">
            <input type="submit" value="Buy">
        </form>
    </div>
    
</body>
</html>